.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 50vw}
.u-section-1 .u-image-1 {width: 161px; height: 183px; animation-duration: 1000ms; margin: 430px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 24px 70px 0}
.u-section-1 .u-text-2 {font-size: 1rem; width: 862px; margin: 15px auto 0}
.u-section-1 .u-image-2 {width: 156px; height: 156px; margin: 0 auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1078px}
.u-section-1 .u-image-1 {height: 182px; margin-top: 283px}
.u-section-1 .u-text-1 {margin-top: 26px; margin-left: 12px; margin-right: 12px}
.u-section-1 .u-text-2 {margin-top: 12px}
.u-section-1 .u-image-2 {margin-top: 19px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1003px}
.u-section-1 .u-text-1 {margin-top: 20px; margin-left: 20px; margin-right: 20px}
.u-section-1 .u-text-2 {width: 462px; margin-top: 13px}
.u-section-1 .u-image-2 {margin-top: 6px; margin-left: 282px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1051px}
.u-section-1 .u-text-1 {width: auto; margin-top: 19px; margin-left: 49px; margin-right: 49px}
.u-section-1 .u-text-2 {width: auto; margin-right: 59px; margin-left: 19px}
.u-section-1 .u-image-2 {margin-left: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-image-1 {width: 90px; height: 102px; margin-top: 177px}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 5px; margin-left: 14px; margin-right: 14px}
.u-section-1 .u-text-2 {font-size: 0.75rem; width: 246px; margin-top: 9px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-2 {width: 115px; height: 115px; margin-top: 0; margin-left: 113px} }